* {
    max-width: 120rem;
    margin:0 auto;
}

.create--heading {
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    color: #666;
}

.new-project__form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.input__wrapper {
    width: 50%;
    position: relative;
}


.project__title {
    position: relative;
    width: 100%;
    font-size: 1.8rem;
    border: 0;
    outline: none;
    font-weight: 300;
    padding: 1rem .5rem;
    border-bottom: .2rem solid #bbb;
}

.new-project__form span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: .2rem solid rgb(192, 64, 124);
    transition: width .4s;
    
}


.project__title:focus ~ span {
    width: 100%;
}

.create-btn {
    margin-top: 5rem;
    display: inline-block;
    padding: 1.5rem;
    border-radius: .5rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border:0;
    outline: none;
    cursor: pointer;
    background-color:rgb(192, 64, 124);
}


.invalid-input {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: rgb(255,0,0);
}

.create-btn:disabled {
    opacity: .5;
    cursor: default;
}