<div class="project">
    <div class="project__header">
        <p class="project__title">{{project.title}}</p>
        <button class="delete-btn" (click)="deleteProject()">Delete Project</button>
    </div>
    
    <div class="project__tasks">
       <div class="project__tasks--header">
            <p class="header-name">Task name</p>
            <p class="header-assigne">Assignee</p>
            <p class="header-priority">Priority</p>
       </div>
       <div class="project__tasks--list">
           <div class="project__tasks--task" *ngFor="let task of project.tasks">
               <p class="task-name" (click)="expandTask(task._id)">{{task.title}}</p>
               <p class="task-assignee" *ngIf="task.assignee">{{task.assignee.username}}</p>
               <p class="task-assignee" *ngIf="!task.assignee">None</p>
               <p class="task-priority">{{task.priority}}</p>
           </div>
       </div>
       <div class="project__tasks--add">
            <input type="text" placeholder="Add Task..." [(ngModel)]="nameInput">
            <select class="assignee" [(ngModel)]="selectedAssignee">
                <option [value]="project.ownerId._id">{{project.ownerId.username}}</option>
                <option *ngFor="let user of project.collaborators" [value]="user._id">{{user.username}}</option>
            </select>
            <select class="priority" [(ngModel)]="selectedPriority"> 
                <option value="Low">Low</option>
                <option value="Moderate">Moderate</option>
                <option value="High">High</option>
            </select>
       </div>
       <button *ngIf="nameInput.length >= 1" (click)="addTask()" class="add-btn">Add</button>
    </div>
    <p class="no-collab--text" *ngIf="project.collaborators.length < 1">Collaborators: You have no collaborators for this project</p>
</div> 

<app-task [ngStyle]="{
    'transition':'all .8s',
    'position': 'fixed',
    'width': '40rem',
    'height': '100%',
    'background-color': '#ddd',
    'right': this.isExpanded ? '0' : '-40rem',
    'top':'0',
    'border-radius':'2rem 0rem 0rem 2rem'
  }"
  [taskId]="selectedTaskId"
  >
</app-task>


<div class="confirmation__modal" id="modal">
    <div class="content">
        <p>Are you sure you want to delete the project?</p>
        <button class="conf-del" (click)="confirmDelete()">Delete</button>
        <button class="conf-can" (click)="cancel()">Cancel</button>
    </div>
</div>