.project__title {
    font-size: 3.2rem;
}

.project__tasks {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 90%;
}

.project {
    max-width: 160rem;
    margin:0 auto;
    height: 100%;
}

.project__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.project__header > .delete-btn {
    font-size: 1.6rem;
    border: 0;
    border-bottom: .2rem solid red;
    background-image: linear-gradient(to bottom, #fff 50%, red 50%);
    outline: none;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: all .3s;
    background-size: 100% 200%;
}

.project__header > .delete-btn:hover {
    background-position: 0 100%;
    color: #fff;

}


.project__tasks--header {
    display: flex;
    border-bottom: .1rem solid #ccc;
    align-items: center;
}

.header-name {
    flex: 0 0 75%;
}

.header-assigne {
    flex: 0 0 15%;
}

.header-priority {
    flex: 0 0 10%;
}

.header-name, .header-assigne, .header-priority {
    color: #666;
    font-size: 1.4rem;
    padding: 1rem 0rem;
}

.project__tasks--list {
    display: flex;
    flex-direction: column;
}

.project__tasks--task {
    display: flex;
    border-bottom: .1rem solid rgb(209, 209, 209);
    align-items: center;

    position: relative;
}

.project__tasks--task > button {
    border:0;
    outline: 0;
    cursor: pointer;
    color: gray;
    transform: scale(.8);
    position: absolute;
    left: -3rem;
}



.task-name {
    flex: 0 0 75%; 
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.task-assignee{flex: 0 0 15%;}
.task-priority{flex: 0 0 10%;}

.task-name,.task-assignee,.task-priority {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 1rem;
    border-right: .1rem solid rgb(209, 209, 209);
    height: 3.6rem;
}

.project__tasks--add {
    display: flex;
    border-bottom: .1rem solid rgb(209, 209, 209);
}

.project__tasks--add > input {
    flex: 0 0 75%;
}

.project__tasks--add > .assignee {
    flex: 0 0 15%;
}

.project__tasks--add > .priority {
    flex: 0 0 10%;
}

.project__tasks--add > input {
    font-size: 1.4rem;
    padding: 1rem 1rem;
    border: 0;
    border-right: .1rem solid rgb(209, 209, 209);
    flex: 0 0 75%;
    outline: none;
}

.project__tasks--add > select.assignee {
    font-size: 1.4rem;
    padding: 1rem 0rem;
    flex: 0 0 15%;
    outline: none;
    border: 0;
    background-color: transparent;
    border-right: .1rem solid rgb(209, 209, 209);
    cursor: pointer;
}

.project__tasks--add > select.priority {
    font-size: 1.4rem;
    padding: 1rem 0rem;
    flex: 0 0 10%;
    outline: none;
    border: 0;
    background-color: transparent;
    border-right: .1rem solid rgb(209, 209, 209);
    cursor: pointer;
}

.project__tasks--add > select > option {
    font-size: 1.2rem;
}

.add-btn {
    width: 5%;
    outline: none;
    border: .2rem solid rgb(192, 64, 124);
    color: rgb(192, 64, 124);
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

.no-collab--text {
    font-size: 1.4rem;
}


/* MENU DROPDOWNS STYLE */
.project__tasks--add > select > option {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
}





/* CONFIRMATION TEMPLATE MOVE TO ITS OWN COMPONENT LATER */
.confirmation__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.confirmation__modal > .content > p {
    font-size: 1.6rem;
}

.confirmation__modal > .content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    border-radius: 1rem;
}

.confirmation__modal > .content > button {
    font-size: 1.4rem;
    padding: 1em 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.conf-del {
    background-color: red;
    border:0;
    outline: 0;
    color: #fff;
}

.conf-del:hover {
    background-color: rgb(156, 0, 0);
}

.conf-can {
    background-color: #888;
    border: 0;
    outline: 0;
    color: #000
}

.conf-can:hover {
    background-color: rgb(85, 85, 85);
}