.navigation {
    width: 25rem;
    height: 100%;
    background-color: rgb(66, 66, 66);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 20px 0px;
}

.logo__wrapper {
    height: 10%;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.logo__wrapper p {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
}

.logo {
    width: 4.8rem;
    height: 4.8rem;
}

.navigation-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
   
}

.navigation-link__wrapper {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    display: flex;
    align-items: center;
    outline: none;
}

.navigation-link__wrapper .material-icons-outlined {
    padding-right: 10px;
    color: #fff;
}


.navigation-link__wrapper > a {
    color: #fff;
    text-decoration: none;
    font-weight:  500;
    font-size: 1.6rem;
    width: 100%;
    cursor: pointer;
}

.navigation-link__wrapper:hover {
    background-color: rgb(192, 64, 124);
}

.underline {
    height: .1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.projects {
    height: 80%;
    padding: 20px 0px;
    width: 100%;
}

.projects__header {
    font-size: 1.4rem;
    color: rgb(172, 172, 172);
    font-weight: 500;
    padding-bottom: 15px;
    text-align: center;
}

.no__projects--text{
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
}

.project-title {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem 2rem;
    width: 100%;
    display: block;

    transition: background-color .3s ease;
}

.project-title:hover {
    background-color: rgb(92, 92, 92);
}

.activeProject {
    background-color: rgb(92, 92, 92);
}

.container {
    margin-left: 25rem;
    padding: 4rem 0;
    height: 100vh;
}


.logout-btn {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    border-radius: .5rem;
    border: .2rem solid #ff9b8c;
    padding: 1rem 0rem;
    width: 80%;

    transition: background-color .3s;
}

.logout-btn:hover {
    background-color: #ff9b8c;
}

/* NO PROJECTS STYLE */
.no__projects--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-btn {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    border-radius: .5rem;
    border: .2rem solid rgb(190, 92, 138);
    padding: .5rem 2rem;
    text-decoration: none;
    transition: background-color .3s;
}

.create-btn:hover {
    background-color: rgb(190, 92, 138);
}

.create-btn > .material-icons-outlined {
    padding-right: .5rem;
}

.logout-btn > .material-icons-outlined {
    transform: rotate(180deg);
    padding-left: 1rem;
}


.active {
    background-color: rgb(190, 92, 138);
}