<div class="navigation">
    <div class="logo__wrapper">
        <img src="../../assets/check-list.png" class="logo">
        <p>Just Do it.</p>
    </div>
    <span class="underline"></span>
    <div class="navigation-links">
        <div class="navigation-link__wrapper" routerLink="/user" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
            <i class="material-icons-outlined">home</i>
            <a >Home</a>
        </div>
        <div class="navigation-link__wrapper" >
            <i class="material-icons-outlined">account_circle</i>
            <a href="">Your Tasks</a>
        </div>
    </div>
    <span class="underline"></span>
    <div class="projects">
        <p class="projects__header">Projects</p>
        <div class="no__projects--wrapper" *ngIf="projects.length === 0">
            <p class="no__projects--text" >You have no projects yet</p>
            <a class="create-btn" routerLink="create">
                <i class="material-icons-outlined">add</i> Create
            </a>
        </div>
        <div *ngIf="projects.length !== 0">
            <a class="project-title" *ngFor="let projectEl of projects" routerLinkActive="activeProject"  [routerLinkActiveOptions]="{exact: true}" [routerLink]="['project', projectEl._id]">{{projectEl.title}}</a>
        </div>
    </div>
    <a class="logout-btn" (click)="logout()">
        <i class="material-icons-outlined">exit_to_app</i>
        Logout
        
    </a>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
    
